<label class="input {{#if className}}{{ className }}{{/if}}">
  {{#if label}}
    <span>{{ label }}:</span>
  {{/if}}

  <input
    class="input__element"
    ref="{{ ref }}"
    data-style="{{#if style}}{{ style }}{{else}}normal{{/if}}"
    data-is-invalid="{{#if errorMessage}}true{{else}}false{{/if}}"
    data-is-disabled="{{ disabled }}"
    data-size="{{#if size}}{{ size }}{{else}}s{{/if}}"
    name="{{ name }}"
    placeholder="{{ placeholder }}"
    aria-invalid="{{#if errorMessage}}true{{else}}false{{/if}}"
    type="{{ type }}"
    autocomplete="{{#if autocomplete}}{{ autocomplete }}{{else}}off{{/if}}"
    {{#if required }}required{{/if}}
    {{#if disabled }}disabled{{/if}} />
  {{#if errorMessage}}
    <span class="input__error">{{ errorMessage }}</span>
  {{/if}}

</label>
