<div class="input">
  <label class="input__label">
    <input
      class="input__element"
      data-size="{{ input.size }}"
      name="{{ input.name }}"
      placeholder="{{ input.placeholder }}"
      type="{{ input.type }}"
      autocomplete="{{#if input.autocomplete}}{{ input.autocomplete }}{{else}}off{{/if}}"
    />
  </label>
</div>
