<div class="input">
  <label class="input__label">
    <input
      class="input__element input__element_size-{{ size }}"
      name="{{ name }}"
      placeholder="{{ placeholder }}"
      type="{{ type }}"
      autocomplete="{{ autocomplete }}"
    />
  </label>
</div>
