<label class="input">
  {{#if label}}
    <span>{{ label }}:</span>
  {{/if}}

  <input class="input__element"
         data-style="{{#if style}}{{ style }}{{else}}normal{{/if}}"
         data-is-disabled="{{ disabled }}"
         data-size="{{#if size}}{{ size }}{{else}}s{{/if}}"
         name="{{ name }}"
         placeholder="{{ placeholder }}"
         oninvalid="this.setCustomValidity({{ errorMessage }})"
         oninput="this.setCustomValidity('')"
         type="{{ type }}"
         value="{{#if value}}{{ value }}{{else}}{{/if}}"
         autocomplete="{{#if autocomplete}}{{ autocomplete }}{{else}}off{{/if}}"
         {{#if required }}required{{/if}}
         {{#if disabled }}disabled{{/if}} />
</label>
