 <div class='persona'>
  <div
    class='persona__image-container' data-is-large='{{isLarge}}'
    data-image-only='{{isImageOnly}}'>
    {{#if avatar}}
      <img class='persona__image' src='{{avatar}}' alt='{{display_name}}' />
    {{/if}}
  </div>
  {{#unless isImageOnly}}
    <div class='persona__info'>
      <p>{{display_name}}</p>
    </div>
  {{/unless}}
</div>
