<div class="persona">
  <div class="persona__image-container" data-is-large="{{ is - large }}" data-image-only="{{ image - only }}">
    {{#if user.image }}
    <img class="persona__image" src="{{ user.image }}" alt="{{ user.name }}" />
    {{/if}}
  </div>
  {{#unless image-only}}
  <div class="persona__info">
    <p>{{ user.name }}</p>
    {{#if user.description}}
    <p>{{ user.description }}</p>
    {{/if}}
  </div>
  {{/unless}}
</div>
