<section class='flash-message'>
  {{#if message.image}}
    <img
      class='flash-message__image'
      src='{{message.image}}'
      width='256'
      height='256'
      alt='{{message.alt}}'
      loading='lazy'
    />
  {{/if}}
  <div class='flash-message__content'>
    <h2 class='flash-message__title title'>{{message.title}}</h2>
    <p class='flash-message__description description'>{{message.description}}
    </p>
  </div>
  {{#if message.link}}
    {{{LinkComponent link=message.link}}}
  {{/if}}
</section>