{{#> MainLayout}}
  <div class="settings">
    {{{ AvatarComponent ref="avatar" isCurrentUser=true userAvatar=(getDefaultAvatar user.avatar 'user') onAvatarUpload=onAvatarUpload }}}

    {{#if user.isEmailVerified}}
      <div class="account__email-verified">
        <span class="icon icon--check"></span>
        <p class="description">{{ 'account.emailVerified' }}</p>
      </div>
    {{else}}
      <div class="account__email-not-verified">
        <span class="icon icon--warning"></span>
        <p class="description">{{ 'account.emailNotVerified' }}</p>
        {{{ LinkComponent
          ref=verifyEmail.ref
          text=verifyEmail.text
          onClick=onVerifyEmail
          isWarning=verifyEmail.isWarning }}}
      </div>
    {{/if}}

    <div class="settings__heading">
      <h2 class="title">{{ user.display_name }}</h2>
      <p class="description">{{ user.login }}</p>
    </div>

    {{#> Form ref='form' class='settings__form'}}
      {{#each inputs as |input|}}
        {{{ InputComponent
          name=input.name
          ref=input.ref
          style=input.style
          label=input.label
          size=input.size
          placeholder=input.placeholder
          value=(getValueByKey ../user input.ref)
          type=input.type
          autocomplete=input.autocomplete
          errorMessage=input.errorMessage
          onChange=input.onChange
          required=input.required
          disabled=../isEditingBlocked
        }}}
      {{/each}}
    {{/Form}}
    <div class="settings__actions">
      {{#unless isEditingBlocked }}
        {{{ LinkComponent
          ref=save.ref
          text=save.text
          onClick=onSubmit
          isWarning=save.isWarning }}}
      {{else}}
        {{{ LinkComponent
          ref=edit.ref
          text=edit.text
          onClick=onEdit
          isWarning=edit.isWarning }}}
      {{/unless}}
      {{{ LinkComponent
        ref=changePassword.ref
        text=changePassword.text
        href='/change-password' }}}
      {{{ LinkComponent
        ref=signOut.ref
        text=signOut.text
        onClick=signOut.onClick }}}
    </div>

    <div class="account__back-button">
      {{{ ButtonComponent
        icon=backButton.icon
        size=backButton.size
        type=backButton.type
        width=backButton.width
        label=backButton.label
        onClick=backButton.onClick }}}
    </div>
  </div>
{{/MainLayout}}
