<article class='chat-preview' data-is-selected={{isSelected}}>
  {{{PersonaComponent user=user isImageOnly=true isLarge=true}}}
  <div class='chat-preview__content'>
    <div class='chat-preview__heading'>
      <h2 class='chat-preview__name subheader'>{{user.name}}</h2>
      <span class='chat-preview__timestamp'>{{time}}</span>
    </div>
    <div class='chat-preview__info'>
      <p class='chat-preview__last-message description'>{{lastMessage}}</p>
      {{#if unread}}
        <span class='chat-preview__unread'>
          {{unread}}
        </span>
      {{/if}}
    </div>
  </div>
</article>
